<h1>Tamagotchi Farm</h1>
<form action="/index">
  <div class="form-group">
    <label for="tamagotchi">Name your Tamagotchi</label>
    <input type="text" name="tamagotchi">
  </div>
  <button type="submit" name="button"></button>
</form>
